@import "../../SCSSVARS.scss";

// .book-tab-popover-wrapper {
// }

.book-tab-popover-container {
  background-color: rgb(255, 254, 254);
  width: 14rem;
  min-width: 14rem;
  border: 0.375px solid lightgray;
  border-radius: 0.375rem;
  height: fit-content;
  display: flex;
  padding: 0.6rem;
  position: absolute;
  flex-flow: column;
  align-items: center;
  margin-top: 0.2rem;
  z-index: 4;
}

.tab {
  gap: 1px;
  border-bottom: 0.375px solid lightgray;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-weight: 500;
  color: rgb(92, 92, 92);
  font-size: 14.5px;
}

.tab:hover {
  cursor: pointer;
  background-color: rgb(238, 230, 223);
}

.tab:first-child {
  border-bottom: 0.375px solid lightgray;
}

.tab:last-child {
  border-bottom: none;
}

.book-tab-box {
  display: flex;
  flex-flow: column;
  height: fit-content;
  min-width: 12rem;
  max-width: 12rem;
  max-height: 22rem;
  overflow: auto;
  overflow-wrap: break-word;
  border: 0.375px solid lightgray;
  margin: 0.4rem 0.2rem 0.3rem 0.2rem;
  border-radius: 0.375rem;
}

.book-selection-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

.add-book-icon {
  font-size: 18px;
  color: rgb(94, 92, 89);
}

._add-book-icon {
  font-size: 20px;
  margin-left: 0.1rem;
  color: rgb(94, 92, 89);
}

.add-book-icon:hover {
  color: rgb(179, 168, 149);
  cursor: pointer;
}

._add-book-icon:hover {
  color: rgb(179, 168, 149);
  cursor: pointer;
}

.book-icon:hover {
  cursor: pointer;
  color: rgb(192, 181, 161);
}

.book-icon {
  font-size: 22px;
  color: rgb(94, 92, 89);
}

#book-selection-spinner {
  height: 20px;
  width: 20px;
  font-size: 15px;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: rgb(141, 119, 78);
}

.login-for-books-words {
  font-weight: 600;
  color: $web-font-color;
  width: 100%;
  text-align: center;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-left: 0.2rem;
}

.__popover-state-link {
  margin-top: 0.1rem;
  font-weight: 600;
  color: $web-font-color;
  font-size: 14px;
}

.__popover-state-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
