@use "../../variables" as *;

.right-link {
  font-weight: 700;
  text-decoration: none;
  color: rgb(168, 140, 89);
  font-size: 15px;
  // color: rgb(168, 140, 89);
  /* font-family: "roboto"; */
  /* letter-spacing: 0.6px; */
}

.right-link:hover {
  color: rgb(219, 212, 190);
  cursor: pointer;
}

.signup-form-control {
  height: 1.8rem;
  max-width: 12rem;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}
.signup-form-control:focus {
  outline: rgb(238, 230, 223) 3px solid !important;
  border-color: rgb(238, 230, 223) !important;
  box-shadow: none !important;
}

.signup-label {
  margin-bottom: 0 !important;
  font-weight: 450;
  text-decoration: none;
  color: rgb(151, 135, 104);
  font-size: 13px;
}

.signup-error-msg {
  color: red;
  font-size: 11px;
}

.login-btn {
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin-left: auto;
  border-radius: 0.375rem;
  font-weight: 600;
  background-color: rgb(211, 198, 155);
  color: white;
  display: flex;
  align-items: center;
}

.cancel-btn {
  border: 0.375px solid lightgray;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 0.375rem;
  font-weight: 600;
  color: rgb(119, 119, 119);
}

.popover-state-link,
._popover-state-link {
  margin-top: 0.1rem;
  font-weight: 600;
  color: $web-font-color;
  font-size: 11px;
}

.links-container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
}

.popover-state-link:hover,
._popover-state-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.login-btn:hover {
  cursor: pointer;
  background-color: rgb(187, 176, 145);
}

.cancel-btn:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
  color: rgb(255, 255, 255);
}

.login-popover-button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.signup-popover-button-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
}

.switch-signup-link {
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin-top: 0.7rem;
  margin-left: auto;
  font-weight: 600;
  color: $web-font-color;
}

.switch-signup-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.signup-btn {
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin-top: 0.7rem;
  margin-left: 0.6rem;
  border-radius: 0.375rem;
  font-weight: 600;
  background-color: rgb(211, 198, 155);
  color: white;
}
.signup-btn:hover {
  cursor: pointer;
  background-color: rgb(187, 176, 145);
}

.popover-box {
  padding: 0.1rem 0.6rem 0.1rem 0.6rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 12.6rem;
  max-width: 12.6rem;
}

.confirm-email-textline {
  display: flex;
  align-items: center;
}

#signup-loading-spinner {
  height: 16px;
  width: 16px;
  font-size: 11px;
  margin-right: 0.3rem;
}

.verified-text {
  color: $web-font-color;
  display: flex;
  font-size: 13px;
}

#confirm-email-loading-spinner {
  height: 20px;
  width: 20px;
  font-size: 11px;
  margin-right: 0.3rem;
  color: $web-font-color;
}

._popover-state-link {
  display: flex;
  margin-left: 0.2rem;
  font-size: 12px;
  margin-top: 0;
  color: $web-font-color;
}

@media screen and (min-width: 280px) and (max-width: 768px) {
  .right-link {
    // visibility: hidden;
    // width: 0;
    font-size: 12px;
    margin-left: 0.6rem;
  }
}

.popover-container {
  background-color: rgb(255, 254, 254);
  width: 14rem;
  max-width: fit-content;
  border: 0.375px solid lightgray;
  border-radius: 0.375rem;
  height: fit-content;
  display: flex;
  padding: 0.8rem;
  position: absolute;
  right: 1.2rem;
  margin-top: 0.2rem;
  visibility: hidden;
  opacity: 0;
  // transition: opacity 0.27s ease-in-out
}

// .popover-container:before {
//   border: 1px solid black;
//   position: absolute;
//   // z-index: -1;
//   content: "test";
//   right: 2rem;
//   top: -8px;
//   border-style: solid;
//   border-width: 0 10px 10px 10px;
//   border-color: transparent transparent black transparent;
//   transition-duration: 0.3s;
//   transition-property: transform;
// }

.popover-show {
  z-index: 5;
  opacity: 1;
  visibility: visible;
}

.popover-wrapper {
  position: relative;
  display: inline-block;
}

// .popover-wrapper:hover .popover-container {
//   z-index: 5;
//   opacity: 1;
//   visibility: visible;
// }
