@import "../../SCSSVARS.scss";

.all-words-page-container {
  width: 100%;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.all-words-page-word-def {
  margin: 1rem;
}

.all-words-page-loading-page {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

#all-words-page-loading-spinner {
  height: 24px;
  width: 24px;
  color: $spinner-default-color;
}

.word-page-definition-box {
  margin: 1rem;
  width: fit-content;
  min-width: 18rem;
  max-width: 27rem;
  height: fit-content;
  min-height: 8rem;
  border-radius: 0.5rem;
  border: 0.375px lightgrey solid;
  padding-top: 0.4rem;
  padding-bottom: 0.6rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  // border: 10px solid black;
}

@media screen and (min-width: 540px) and (max-width: 767px) {
  .all-words-page-container {
    justify-content: center;
    padding: 1rem 0rem 0rem 2rem;
  }

  .word-page-definition-box {
    margin: 1rem;
  }
}

@media screen and (min-width: 280px) and (max-width: 540px) {
  .word-page-definition-box {
    max-width: 17.5rem;
    min-width: 17.5rem;
  }
  .all-words-page-container {
    justify-content: center;
    padding: 1rem 0rem 0rem 2rem;
  }
}

// for fold
@media screen and (min-width: 0px) and (max-width: 280px) {
  .word-page-definition-box {
    min-width: 13.5rem;
    max-width: 13.5rem;
  }
}
