@import "https://unpkg.com/open-props/gradients.min.css";

.main-container {
  /* background-image: var(--gradient-6); */
  height: 70vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.searchbar-container {
  margin-top: 2rem;
  width: 33rem;
}

@media screen and (min-width: 280px) and (max-width: 768px) {
  .searchbar-container {
    width: 18rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
