.all-navbar {
  /* border: 1px solid black; */
  /* position: sticky; */
  top: 0;
  height: 6rem;
  z-index: 3;
}

.outlet {
  /* border: 1px solid orange; */
  /* position: sticky; */
  top: 6rem;
  /* z-index: -1; */
}

.mainest {
  /* border: 1px solid red; */
  /* height: 100%; */
  width: 100%;
  position: sticky;
  overflow: hidden;
  /* overflow-y: scroll; */
  /* z-index: -2; */
  /* border: 4px solid #ddd; */
}

/* body {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background: #222; */
