.list-book-selection {
  border: 0.375px solid lightgray;
  width: 100%;
  border-radius: 0.375rem;
  height: fit-content;
  max-height: 10rem;
  overflow: auto;
  overflow-wrap: break-word;
}

.list-book-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.book-bar {
  border-top: 0.375px solid lightgray;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  display: flex;
}

.book-bar:first-child {
  border-top: none;
}

.book-bar-btm-border:last-child {
  border-bottom: 0.375px solid lightgray;
}

.book-checkbox {
  margin-left: auto;
  width: fit-content;
}

.book-bar:hover,
.book-checkbox:hover,
.book-label:hover,
.list-book-selection:hover,
.list-book-container:hover {
  cursor: pointer;
}

.book-label {
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.00001px;
  height: 0.00001px;
  visibility: hidden;
}

.footer-btns {
  display: flex;
  width: 100%;
}

.err-msg {
  color: red;
  font-size: 16px;
}
