.right-link {
  font-weight: 700;
  text-decoration: none;
  color: rgb(168, 140, 89);
  font-size: 15px;
  /* font-family: "roboto"; */
  /* letter-spacing: 0.6px; */
}

.right-link:hover {
  color: rgb(219, 212, 190);
  cursor: pointer;
}

.signup-form-control {
  height: 1.8rem;
  max-width: 12rem;
  margin-top: 0.3rem;
}

.signup-label {
  margin-bottom: 0 !important;
  font-weight: 450;
  text-decoration: none;
  color: rgb(151, 135, 104);
  font-size: 14px;
}

.signup-error-msg {
  color: red;
  font-size: 12px;
}

.login-btn {
  /* border: 0.375px solid lightgray; */
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin-top: 0.7rem;
  margin-left: auto;
  border-radius: 0.375rem;
  font-weight: 600;
  background-color: rgb(211, 198, 155);
  color: white;
}

.cancel-btn {
  border: 0.375px solid lightgray;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin-top: 0.7rem;
  margin-left: 0.6rem;
  border-radius: 0.375rem;
  font-weight: 600;
  color: rgb(119, 119, 119);
}

.login-btn:hover {
  cursor: pointer;
  background-color: rgb(187, 176, 145);
}

.cancel-btn:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
  color: rgb(255, 255, 255);
}

.signup-popover-button-container {
  display: flex;
}
