@import "../../SCSSVARS.scss";

.searchbar-box {
  margin: 0.5rem 0 0.5rem 0;
}

// input {
//   border: 0.375px solid lightgray;
//   padding: 0.2rem 0.5rem 0.2rem 0.6rem;
//   border-radius: 0.375rem;
//   width: 18rem;
//   color: $web-default-color;
//   // border: 3px solid transparent;
// }

input:not([type="checkbox"]):focus {
  outline: none;
  border-color: rgb(238, 230, 223);
  box-shadow: 0 0 0 3px rgb(238, 230, 223);

  -webkit-outline: none;
  -webkit-border-color: rgb(238, 230, 223);
  -webkit-box-shadow: 0 0 0 3px rgb(238, 230, 223);

  -o-outline: none;
  -o-border-color: rgb(238, 230, 223);
  -o-box-shadow: 0 0 0 3px rgb(238, 230, 223);

  -moz-outline: none;
  -moz-border-color: rgb(238, 230, 223);
  -moz-box-shadow: 0 0 0 3px rgb(238, 230, 223);
}

#searchbar-form-control {
  height: 32px;
  font-size: 15px;
  width: 18rem;
}

.dropdown-list {
  margin: 0px 0px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  gap: 3px;
  border-top: 0.1rem solid lightgrey;
  border-left: 0.1rem solid lightgrey;
  border-right: 0.1rem solid lightgrey;
}

.dropdown-list:hover {
  background-color: rgb(238, 230, 223);
  cursor: pointer;
  color: $web-default-color;
}

.dropdown-box {
  margin-top: 0.27rem;
  position: absolute;
  display: block;
  z-index: 5;
  background-color: white;
  width: 18rem;
  border-radius: 0.375rem;
}

.dropdown-list:nth-child(1) {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.dropdown-list:last-child {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border-bottom: 0.1rem solid lightgrey;
}

@media screen and (min-width: 280px) and (max-width: 768px) {
  // input,
  .dropdown-box,
  #searchbar-form-control {
    width: 10rem;
  }
}

/* Target iOS devices */
// @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
//   input:not([type="checkbox"]):focus {
//     border-radius: 0.375rem;
//     -webkit-border-radius: 0.375rem;
//   }
// }
