.searchbar-box {
  margin: 0.5rem 0 0.5rem 0;
}

input {
  border: 0.375px solid lightgray;
  padding: 0.2rem 0.5rem 0.2rem 0.6rem;
  border-radius: 0.375rem;
  width: 18rem;
}

input:focus {
  /* border: 2px solid #719ece;
  box-shadow: 0 0 1px #719ece; */
  outline: rgb(238, 230, 223) 3px solid;
  border-color: rgb(238, 230, 223);
  box-shadow: none;
  border-radius: 0.375rem;
  -webkit-outline: rgb(238, 230, 223) 3px solid;
  -webkit-border-color: rgb(238, 230, 223);
  -webkit-box-shadow: none;
  -webkit-border-radius: 0.375rem;
  -moz-outline: rgb(238, 230, 223) 3px solid;
  -moz-border-color: rgb(238, 230, 223);
  -moz-box-shadow: none;
  -moz-border-radius: 0.375rem;
  -o-outline: rgb(238, 230, 223) 3px solid;
  -o-border-color: rgb(238, 230, 223);
  -o-box-shadow: none;
  -o-border-radius: 0.375rem;
  
}

.dropdown-list {
  /* background-color: rgb(245, 244, 243); */
  margin: 0px 0px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  gap: 3px;
  border-top: 0.1rem solid lightgrey;
  border-left: 0.1rem solid lightgrey;
  border-right: 0.1rem solid lightgrey;
}

.dropdown-list:hover {
  background-color: rgb(238, 230, 223);
  cursor: pointer;
}

.dropdown-box {
  margin-top: 0.27rem;
  position: absolute;
  display: block;
  z-index: 5;
  background-color: white;
  width: 18rem;
  border-radius: 0.375rem;
}

.dropdown-list:nth-child(1) {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.dropdown-list:last-child {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border-bottom: 0.1rem solid lightgrey;
}

span {
  font-weight: 600;
  color: grey;
  font-style: italic;
}

@media screen and (min-width: 280px) and (max-width: 768px) {
  input,
  .dropdown-box {
    width: 10rem;
  }
}
