@use '../../variables' as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");


.top-navbar {
  background-color: $web-color;
  display: flex;
  // justify-content: center;
  padding: 0.2rem 0rem 0.2rem 0rem;
}

.center-link {
  text-decoration: none;
  color: aliceblue;
}

.title-span {
  color: aliceblue;
  font-family: "Roboto";
  letter-spacing: 0.6rem;
  font-size: 28px;
  font-weight: 900;
}

.center-link:hover {
  cursor: pointer;
}

.bottom-navbar {
  display: flex;
  justify-content: center;
  background-color: $secondary-web-color;
}

.right-box {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.7rem;
}

.left-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.7rem;
}

.arrow-head-box {
  background-color: rgb(255, 247, 232);
  font-size: 1.3rem;
  margin-left: 0.5rem;
  color: rgb(158, 128, 72);
}

.arrow-head-icon:hover {
  cursor: pointer;
  color: rgb(219, 212, 190);
}

.user-icon {
  font-size: 25px;
  color: rgb(252, 238, 213);
}

.vertical-line {
  width: 0.13rem;
  height: 68%;
  background-color: rgb(252, 238, 213);
  margin: 0rem 0.28rem 0rem 0.28rem;
}

.user-icon:hover {
  cursor: pointer;
  color: rgb(192, 181, 161);
}

@media screen and (min-width: 280px) and (max-width: 768px) {
  .right-box {
    // visibility: hidden;
    // width: 0;
    padding-right: 0.5rem;
  }

  .left-box {
    padding-left: 0.2rem
  }
}