@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.top-navbar {
  background-color: rgb(219, 203, 148);
  display: flex;
  justify-content: center;
  padding: 0.2rem 0rem 0.2rem 0rem;
}

.center-link {
  text-decoration: none;
  color: aliceblue;
}

.title-span {
  color: aliceblue;
  font-family: "Roboto";
  letter-spacing: 0.6rem;
  font-size: 28px;
  font-weight: 900;
}

.center-link:hover {
  cursor: pointer;
}

.bottom-navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 247, 232);
}

.right-box {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.7rem;
}

.right-link {
  font-weight: 700;
  text-decoration: none;
  color: rgb(187, 180, 156);
  font-size: 15px;
  /* font-family: "roboto"; */
  /* letter-spacing: 0.6px; */
}

.left-box {
  flex: 1;
}

.right-link:hover {
  color: rgb(219, 212, 190);
}
