.navbar {
  background-color: rgb(219, 203, 148);
  position: fixed;
}

.left-navbar-box {
  /* flex: 1; */
  text-decoration: none;
  font-weight: 700;
  color: aliceblue;
}

.left-link {
  margin-left: 1rem;
  text-decoration: none;
  font-weight: 700;
  color: aliceblue;
}

.right-link {
  margin-right: 1rem;
  text-decoration: none;
  font-weight: 700;
  color: aliceblue;
}

.left-link:hover,
.right-link:hover {
  color: rgb(153, 141, 104);
}
